
.test-div{
background: orange;
padding: 20px;
margin: 20px;    
}

.test-div h2{color: rgb(255, 242, 0);}

.test-div:hover{
background: rgb(231, 31, 0);
}

h2{color: rgb(135, 0, 99);}

.special{color: turquoise;}

.test-div .special {background: papayawhip}